.about {
  margin-bottom: 60px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.about__heading {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
