.button {
  display: block;
  box-sizing: border-box;
  width: 260px;
  padding: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  border: 2px solid #444444;
  outline: none;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #444444;
    outline: none;
  }

  &:active {
    color: rgba(256, 256, 256, 0.3);
    background-color: #444444;
  }
}
