.card-product {
  width: 258px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #ededed;

  &:hover,
  &:focus {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.1);
  }
}

.card-product__image {
  display: block;
}

.card-product__header-wrapper {
  margin: 0 28px;
  border-bottom: 1px solid #ececec;
}

.card-product__name {
  display: block;
  padding-top: 28px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.card-product__params {
  margin: 0;
  padding-bottom: 18px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.card-product__price-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  padding-left: 28px;
}

.card-product__price {
  margin: 0;
  padding: 20px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.card-product__in-cart {
  position: relative;
  width: 30px;
  height: 72px;
  margin-right: 27px;
}

.card-product__icon {
  position: absolute;
  right: 3px;
  bottom: 31px;
  width: 21px;
  height: 20px;
  opacity: 0.2;
}

@media screen and (min-width: $tablet-width) {
  .card-product {
    position: relative;
    width: 100%;
    margin-bottom: 54px;
  }

  .card-product__image-link {
    position: absolute;
    width: 334px;
    height: 334px;
    background-color: #f1f1f1;
  }

  .card-product__header-wrapper {
    min-height: 234px;
    margin-right: 27px;
    margin-left: 334px + 27px;
    padding-top: 25px;
  }

  .card-product__name {
    display: table;
    margin-bottom: 5px;
    padding: 0;
    font-size: 20px;
  }

  .card-product__params {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }

  .card-product__price-wrapper {
    margin-left: 334px + 27px;
    padding: 0;
  }

  .card-product__price {
    padding: 23px 0;
    padding-left: 3px;
    font-size: 17px;
  }

  .card-product__in-cart {
    margin-right: 30px;
    background-position: right 33px top 50%;
  }
}

@media screen and (min-width: $desktop-width) {
  .card-product {
    width: 316px;
    margin: 0;
    margin-bottom: 57px;
  }

  .card-product__image-link {
    position: static;
    display: block;
    width: 316px;
    height: 462px;
    background-color: #f1f1f1;
  }

  .card-product__header-wrapper {
    min-height: 97px;
    margin: 0 28px;
  }

  .card-product__name {
    margin-bottom: 5px;
  }

  .card-product__params {
    padding-bottom: 2px;
  }

  .card-product__price-wrapper {
    margin-left: 27px;
  }

  .card-product__price {
    padding: 22px 0;
  }
}
