.choice-size__group {
  margin: 0;
  padding: 0;
  border: none;
}

.choice-size__description {
  margin: 0;
  margin-bottom: 23px;
  text-align: center;
  border: none;
}

.choice-size__list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 31px;
  padding: 0;
  list-style: none;
}

.choice-size__label {
  width: 84px;
  border-color: #ececec;
}


[type="radio"]:checked + .choice-size__label {
  border-color: #63d1bb;
}

.choice-size__button {
  font-size: 17px;
  /*line-height: 17px;*/
  color: #ffffff;
  background-color: #63d1bb;
  border-color: #63d1bb;
}

@media screen and (min-width: $tablet-width) {
  .choice-size__label {
    width: 112px;
  }

  .choice-size__button {
    width: 354px;
  }

  .choice-size__description {
    font-size: 17px;
    line-height: 30px;
  }
}
