.feature-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-list__item {
  margin-bottom: 30px;
  padding-top: 58px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;

  &--materials {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 10px 2px;
  }

  &--price {
    margin-bottom: 30px;
    padding-top: 54px;
    background-image: url("../img/icon-feature-money.svg");
    background-position: 0 0;
  }

  &--like {
    margin-bottom: 30px;
    padding-top: 52px;
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 8px 0;
  }

  &--love {
    margin-bottom: 30px;
    padding-top: 54px;
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 0 0;
  }

  &--domestic {
    margin-bottom: 30px;
    padding-top: 52px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: -5px 0;
  }

  &--gift {
    margin-bottom: 30px;
    padding-top: 53px;
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 3px 0;
  }
}

@media screen and (min-width: $tablet-width) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
  }

  .feature-list__item {
    width: 300px;
    padding-right: 34px;
    font-size: 20px;
    line-height: 22px;

    &--materials {
      margin-bottom: 56px;
    }

    &--price {
      order: 2;
      margin-bottom: 60px;
    }

    &--like {
      order: 4;
    }

    &--love {
      order: 1;
      margin-bottom: 56px;
      padding-top: 56px;
      background-position: 5px 5px;
    }

    &--domestic {
      order: 3;
      padding-top: 54px;
      background-position: -3px 5px;
    }

    &--gift {
      order: 5;
      margin-bottom: 60px;
      padding-top: 52px;
      background-position: 3px -1px;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .feature-list {
    width: 700px;
    margin-left: 175px;
  }

  .feature-list__item {
    padding-right: 50px;
  }
}
