.main-nav {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.main-nav__toggle {
  position: absolute;
  top: -47px;
  right: 1px;
  display: block;
  width: 20px;
  height: 14px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    border-top: 1px solid #ececec;
  }
}

@media screen and (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 50px;

    li {
      border-top: none;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .main-nav {
    display: block;
  }

  .main-nav__list {
    padding: 0;
  }
}
