.main-nav {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.main-nav__logo-link {
  display: block;
  padding: 22px 0;
}

.main-nav__logo-image {
  display: block;
  width: 86px;
  height: 35px;
  margin: 0 auto;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    border-top: 1px solid #ececec;
  }
}

@media screen and (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__logo-link {
    margin: 0 50px;
    padding: 21px 0;
  }

  .main-nav__logo-image {
    width: 112px;
    height: auto;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;

    li {
      border-top: none;
    }
  }

  .main-nav__delivery {
    flex-grow: 1;
    order: 5;
    margin: 0;
    padding: 20px 0;
    padding-right: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: #444444;
    background-color: #f9f9f9;
    border-top: 1px solid #e7e7e7;
  }
}

@media screen and (min-width: $desktop-width) {
  .main-nav__logo-link {
    order: 1;
    margin: 0;
    padding: 8px 0;
  }

  .main-nav__logo-image {
    width: 148px;
    height: auto;
  }

  .main-nav__delivery {
    flex-grow: 0;
    width: 525px;
    /*margin-right: auto;*/
    padding-right: calc(50% - 525px);
    padding-left: 0;
  }
}
