.page-footer {
  background-color: #f1f1f1;
}

.page-footer__list {
  margin: 0;
}

.page-footer__developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px 38px;
}

.page-footer__developer-label {
  margin: 0;
  padding-right: 10px;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
}

.page-footer__developer-logo {
  flex-shrink: 0;
  width: 34px;
  height: 34px;
}

.page-footer__developer-img {
  width: 34px;
  height: 34px;
  fill: #63d1bb;
}

.page-footer__developer-logo:hover .page-footer__developer-img,
.page-footer__developer-logo:focus .page-footer__developer-img {
  fill: #46c1ae;
}

.page-footer__developer-logo:active .page-footer__developer-img {
  opacity: 0.3;
}

@media screen and (min-width: $tablet-width) {
  .page-footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .page-footer__logo {
    display: block;
    width: 185px;
    padding-top: 5px;
  }

  .page-footer__logo-img {
    width: 102px;
    height: 34px;
  }

  .page-footer__developer {
    //justify-content: flex-end;
    width: 185px;
    margin: 0;
    padding: 0;
    padding-top: 11px;
  }
}
