.page-footer {
  background-color: #f1f1f1;
}

.page-footer__list {
  margin: 0;
}

.page-footer__developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 23px 39px;
}

.page-footer__developer-label {
  margin: 0;
  padding-right: 25px;
  font-weight: 700;
  font-size: 19px;
  line-height: 19px;
}

.page-footer__developer-logo {
  width: 34px;
  height: 34px;
}

@media screen and (min-width: $tablet-width) {
  .page-footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .page-footer__logo {
    display: block;
    width: 27%;
    padding-top: 5px;
  }

  .page-footer__developer {
    justify-content: flex-end;
    width: 27%;
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }
}
