.product-params {
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.product-params__cell {
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  padding-bottom: 9px;
  border-bottom: 1px solid #ececec;

  &--param {
    width: 97px;
  }

  &--value {
    width: 160px;
    margin-left: -3px;
  }
}

.product-params__image {
  display: block;
  width: 260px;
  margin: 0;
  margin-top: 27px;
  padding: 0;
  background-color: #f9f9f9;
}

.product-params__image img {
  display: block;
  width: 260px;
  height: 315px;
}

.product-params__price {
  display: inline-block;
  width: 44%;
  margin: 26px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  &--param {
    padding-right: 7px;
    text-align: right;
  }
}

@media screen and (min-width: $tablet-width) {
  .product-params {
    width: 292px;
  }

  .product-params__cell {
    &--value {
      width: 195px;
      margin-left: -5px;
    }
  }

  .product-params__image {
    position: absolute;
    top: 108px;
    right: 50px;
    width: 334px;
    margin: 0;
  }

  .product-params__image img {
    width: 333px;
    height: 404px;
  }

  .product-params__price {
    margin-top: 56px;
    margin-bottom: 35px;
    font-size: 20px;
  }
}

@media screen and (min-width: $desktop-width) {
  .product-params__cell {
    &--value {
      margin-left: 0;
    }
  }

  .product-params__image {
    top: 0;
    width: 525px;
  }

  .product-params__image img {
    width: 525px;
    height: 636px;
  }

  .product-params__price {
    width: 45%;
    margin-top: 110px;
    margin-bottom: 35px;
  }
}
