.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: $desktop-width) {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
