.product-params {
  margin: 0;
  padding: 0;
  color: #444444;
}

.product-params__cell {
  display: inline-block;
  margin: 0;
  padding: 10px 0;
  line-height: 20px;
  border-bottom: 1px solid #ececec;

  &--param {
    width: 97px;
  }

  &--value {
    width: 160px;
    margin-left: -3px;
  }
}

.product-params__image {
  margin: 28px 0 0;
  padding: 0;

  img {
    display: block;
  }
}
