.promo {
  margin-bottom: 27px;
}

.promo__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo__list li:nth-child(odd) {
  background-color: #63d1bb;
}

.promo__list li:nth-child(even) {
  background-color: #56c3b2;
}

.promo__unit {
  position: relative;
  display: block;
  min-height: 102px - 27px - 27px;
  margin: 0 auto;
  //padding: 27px 30px;
  padding-top: 25px;
  padding-right: 130px;
  padding-bottom: 30px;
  padding-left: 28px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: right center;

  &:hover,
  &:focus {
    transform: translateY(-5px);
  }

  &:active {
    opacity: 0.3;
  }
}

.promo__unit__icon {
  position: absolute;
  opacity: 0.5;

  &--interior {
    top: 22px;
    right: 38px;
    width: 41px;
    height: 63px;
  }

  &--toy {
    top: 21px;
    right: 28px;
    width: 61px;
    height: 61px;
  }
}

.promo__unit:hover .promo__unit__icon,
.promo__unit:focus .promo__unit__icon {
  opacity: 0.7;
}

@media screen and (min-width: $tablet-width) {
  .promo {
    position: relative;
    margin: 0;
    margin-bottom: 45px;
    background-color: #f9f9f9;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -12px;
      left: 0;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: 768px 24px;
    }
  }

  .promo__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
  }

  .promo__list li {
    box-sizing: border-box;
    width: 50%;
    padding-bottom: 30px;
  }

  .promo__unit {
    width: 167px;
    min-height: 60px;
    margin: 0;
    padding-top: 28px;
    padding-right: calc(100% - 35px - 167px);
    padding-bottom: 0;
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;
    background-color: inherit;
  }
}

.promo__unit__icon {
  &--interior {
    top: 27px;
    right: 36px;
  }

  &--toy {
    top: 30px;
    right: 30px;
  }
}

@media screen and (min-width: $desktop-width) {
  .promo {
    margin-bottom: 73px;

    &::after {
      bottom: -17px;
      height: 34px;
      background-size: auto 37px;
    }
  }

  .promo__list {
    width: 1050px;
    margin: 0 auto;
  }

  .promo__unit__icon {
    &--interior {
      top: 30px;
    }

    &--toy {
      top: 31px;
      right: 32px;
    }
  }
}
