.sale-list {
  padding: 0 50px;
}

.sale-list__item {
  display: block;
  margin-right: 60px;
  padding: 20px 0;
  font-size: 15px;

  &--first {
    padding-left: 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .sale-list {
    order: 3;
    width: 525px;
    padding-right: 0;
    padding-left: calc(50% - 525px);
    font-size: 15px;
    background-color: #f1f1f1;
    border-top: 1px solid #e7e7e7;

    &--index {
      background-color: transparent;
    }
  }

  .sale-list__item {
    padding: 16px 0;
  }
}
