.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.social-list__item {
  position: relative;
  display: block;
  width: 60px;
  height: 50px;
}

.social-list__item-icon {
  position: absolute;
  top: 14px;
  left: 19px;
  width: 23px;
  height: 23px;
  fill: #231f20;
}

@media screen and (min-width: $tablet-width) {
  .social-list {
    width: 240px;
    padding: 0 20px;
    border: none;
  }
}
