.user-list {
  background-color: #ffffff;
}

.user-list__item {
  display: block;
  width: 260px - 45px;
  margin: 0 auto;
  padding: 27px 30px 27px 30px + 45px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 30px 50%;

  &--search {
    background-image: url("../img/icon-search.svg");
  }

  &--cart {
    background-image: url("../img/icon-cart.svg");
  }
}

@media screen and (min-width: $tablet-width) {
  .user-list {
    justify-content: flex-end;
    margin-right: 50px;
    margin-left: auto;
  }

  .user-list__item {
    text-align: right;
    border-left: 1px solid #ececec;

    &--search {
      width: 82px;
      height: 88px;
      padding: 0;
      font-size: 0;
      background-position: 50% 50%;
    }

    &--cart {
      width: 212px;
      padding: 32px 0;
      padding-left: 52px;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .user-list {
    order: 2;
    width: (1050px - 148px)/2;
    margin: 0;
    padding-right: calc((100% - 148px - 451px - 451px) / 2);
  }
}
