.user-list {
  background-color: #ffffff;
}

.user-list__item {
  position: relative;
  display: block;
  width: 260px - 45px;
  margin: 0 auto;
  padding: 27px 30px 27px 30px + 45px;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 30px 50%;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 0.3);
  }
}

.user-list__icon {
  position: absolute;
  opacity: 0.2;

  &--search {
    top: 30px;
    left: 28px;
    width: 18px;
    height: 18px;
  }

  &--cart {
    top: 30px;
    left: 28px;
    width: 21px;
    height: 18px;
  }
}

@media screen and (min-width: $tablet-width) {
  .user-list {
    justify-content: flex-end;
    margin-right: 50px;
    margin-left: auto;
  }

  .user-list__item {
    text-align: right;
    border-left: 1px solid #ececec;

    &--search {
      width: 82px;
      height: 88px;
      padding: 0;
      font-size: 0;
      background-position: 50% 50%;
    }

    &--cart {
      width: 212px;
      padding: 32px 0;
      padding-left: 52px;
    }
  }

  .user-list__icon {
    &--search {
      top: 35px;
      left: 32px;
    }

    &--cart {
      top: 35px;
      left: 32px;
    }
  }
}

@media screen and (min-width: $desktop-width) {
  .user-list {
    order: 2;
    width: (1050px - 148px)/2;
    margin: 0;
    padding-right: calc((100% - 148px - 451px - 451px) / 2);
  }
}
