.video-play {
  width: 101px;
  height: 77px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  border: none;
  outline: none;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.7);
    opacity: 0.3;
  }
}
