.week-product {
  position: relative;
  padding-bottom: 42px;
  color: #444444;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 320px 7px;
  }
}

.week-product__header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.week-product__topic {
  margin: 0 0 23px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.week-product__heading {
  order: -1;
  margin: 0 0 5px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.week-product__description {
  margin: 0 0 17px;
  font-size: 15px;
  line-height: 24px;
}

.week-product__params {
  width: 260px;
  margin: 0 auto;
}

.week-product__checkout {
  margin: 0 auto;
  font-size: 17px;
}

@media screen and (min-width: $tablet-width) {
  .week-product {
    position: relative;
    padding-bottom: 70px;
    font-size: 17px;
    line-height: 30px;

    &::after {
      height: 17px;
      background-position: 20px 0;
      background-size: 768px 17px;
    }
  }

  .week-product__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .week-product__heading {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .week-product__topic {
    width: 90px;
    margin: 0;
    margin-top: 5px;
    margin-right: 18px;
    line-height: 17px;
    text-align: center;
  }

  .week-product__description {
    width: 292px;
    margin-bottom: 34px;
    font-size: 17px;
    line-height: 30px;
  }

  .week-product__params {
    width: 50%;
    margin: 0;
  }

  .week-product__checkout {
    width: 292px;
    margin: 0;
  }
}

@media screen and (min-width: $desktop-width) {
  .week-product {
    padding-top: 52px;
    padding-bottom: 96px;

    &::after {
      right: 50px;
      left: 50px;
      height: 23px;
      background-position: 26px 0;
      background-size: 1050px 23px;
    }
  }

  .week-product__header {
    justify-content: flex-start;
    margin-bottom: 49px;
    margin-left: -5px;
  }

  .week-product__heading {
    z-index: 2;
    order: 0;
    font-size: 53px;
    line-height: 57px;
  }

  .week-product__topic {
    width: 175px - 35px - 35px;
    margin: 0;
    padding: 0 35px;
    padding-top: 10px;
  }

  .week-product__description {
    width: 292px;
    margin-bottom: 46px;
    margin-left: 175px;
  }

  .week-product__params {
    margin-left: 175px;
  }

  .week-product__checkout {
    margin-left: 175px;
  }
}
