.week-product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 42px;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
}

.week-product__topic {
  margin: 0 0 26px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.week-product__heading {
  order: -1;
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.week-product__description {
  margin: 0 0 20px;
}

.week-product__params {
  width: 260px;
  margin: 0 auto;
}

.week-product__image {
  display: block;
  width: 260px;
  margin: 0 auto;
}

.week-product__price {
  margin: 28px 0;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
}

.week-product__checkout {
  margin: 0 auto;
  font-size: 17px;
}

@media screen and (min-width: $tablet-width) {
  .week-product {
    font-size: 17px;
    line-height: 30px;
  }

  .week-product__heading {
    font-size: 43px;
    line-height: 50px;
  }

  .week-product__topic {

    line-height: 17px;
  }

  .week-product__params {
    font-size: 15px;
    line-height: 20px;
  }

  .week-product__price {
    font-size: 20px;
    line-height: 24px;
  }
}
