.container {
  padding: 0 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.reduction-link {
  &:hover,
  &:focus {
    opacity: 0.6;
    //color: rgba(#000000, 0.6);
  }

  &:active {
    opacity: 0.3;
    //color: rgba(#000000, 0.3);
  }
}

.reduction-link__icon svg {
  //opacity: 0.2;
  //fill: #231f20;
}

.reduction-link__icon:hover svg,
.reduction-link__icon:focus svg {
  opacity: 1;
  fill: #63d1bb;
}

.reduction-link__icon:active svg {
  opacity: 0.3;
}

@media screen and (max-width: $tablet-width - 1) {
  .hidden-for-mobile {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

@media screen and (max-width: $desktop-width) {
  .hidden-for-mobile-tablet {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

@media screen and (min-width: $tablet-width) {
  .container {
    padding: 0 50px;
  }
}

@media screen and (min-width: $desktop-width) {
  .container {
    width: 1050px;
    margin: 0 auto;
  }
}
